CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
firmware/stm32h7-wifi-fw/build/
firmware/exam/EX-02-UART/build/
firmware/exam/EX-03-CLI/build/
